body {
  margin: 0;
  padding: 0;
  background: #0f0f0f;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-container {
  background-color: #000000;
  padding: 40px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 0 15px #22c5bc;
  text-align: center;
}

.signup-container h2 {
  color: #2BFCF2;
  margin-bottom: 25px;
}

* {
  box-sizing: border-box;
}

.signup-container input,
.signup-container select {
  display: block;
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
  background-color: #333;
  color: white;
  font-size: 14px;
  font-family: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}


.signup-container select {
  appearance: none;
  background-color: #333;
}

.signup-container button {
   width: 100%;
  padding: 10px;
  background: #2BFCF5;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.signup-container button:hover {
   background: #2BFCF2;
}

.signup-container a {
 color: #2BFCF2;
  text-decoration: none;
}

.signup-container a:hover {
  text-decoration: underline;
}
