body {
  margin: 0;
  padding: 0;
  background: #0f0f0f;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #000000;
  padding: 40px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 0 15px #22c5bc;
  text-align: center;
}

.login-container h2 {
  color: #2BFCF2;
  margin-bottom: 25px;
}

.login-container input {
  width: 100%;
  padding: 11px 0px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
  background: #2c2c2c;
  color: white;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background: #2BFCF5;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-container button:hover {
  background: #2BFCF2;
}

.login-container a {
  color: #2BFCF2;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}
